@import "spotify.scss";

.App {
  &-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #f1c40f;
  }
}

h2{
  padding-top: 1rem;
  font-family: 'Lobster', cursive;
  color: $grey;
}

.modal.show{
  display: block;
  background:#0000006e;
}

.jumbotron{
  border-radius: 0px;
}

