@import "Spotify.scss";

.App {
  &-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #f1c40f;
  }
}

.modal.show{
  display: block;
  background:#0000006e;
}

